---
plugins:
- - '@semantic-release/changelog'
  - changelogTitle: '# Changelog'
- '@semantic-release/npm'
- - '@semantic-release/git'
  - assets:
    - package.json
    - CHANGELOG.md
- '@semantic-release/github'
- '@semantic-release/release-notes-generator'
