{
  "plugins": [
    "@semantic-release/changelog",
    "@semantic-release/npm",
    ["@semantic-release/git", {
      "assets": ["package.json", "CHANGELOG.md"]
    }],
    "@semantic-release/github",
    "@semantic-release/release-notes-generator"
  ]
}
